body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin-left: 0px;
    margin-top: -20px;
}

.thehead {
    text-align: center;
    width: 100vw;
    padding-top: 2px;
}

.texthead {
    color: #fff;
    font-family: Cabin Sketch;
    padding-top: 2px;
}

.content {
    text-align: center;
    font-family: Dekko;
}

nav {
    padding-bottom: 2px;
}

.menu nav ul {
    list-style: none;
    text-align: center;
}

.menu {
    text-align: center;
    width: 100%;
    height: 35px;
}

#floatleft {
    float: left;
    width: 31.3%;
    border: 1px solid grey;
}

#center {
    float: left;
    width: 31.3%;
    border: 1px solid grey;
}

#floatright {
    width: 31.3%;
    float: left;
    border: 1px solid grey;
}



.menu nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Dekko;
}

.thehead {
    background-color: #6F237E;
}

.photo {
    width: 100vw;
}

.photo img {
    width: 100%;
    height: auto;
}

button {
    background-color: #6F237E;
    color: #fff;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .photo img {
      width: auto; 
      height: auto;
    }
  }