body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin-left: 0px;
    margin-top: -20px;
}

.thehead {
    text-align: center;
    width: 100vw;
}

.texthead {
    color: #fff;
    font-family: Aclonica;
}

.content {
    text-align: center;
    font-family: cursive;
}

nav {
    padding-bottom: 2px;
}

.menu nav ul {
    list-style: none;
    text-align: center;
}

.menu {
    text-align: center;
    width: 100%;
}

.menu nav ul li {
    display: inline;
    text-align: center;
    padding-right: 10px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Aclonica;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.thehead {
    background-color: #6F237E;
}

.photo {
    width: 100vw;
}

.photo img {
    width: 100%;
    height: auto;
}

button {
    background-color: #6F237E;
    color: #fff;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .photo img {
      width: auto; 
      height: auto;
    }
  }